.die {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px 0px #00000026;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  font-weight: 1rem;
  border-radius: 8px;
  position: relative;
}

.freezed {
  background-color: green;
  color: #ffffff;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #000000;
  border-radius: 50%;
}

.dice-1 {
  display: flex;
  place-content: center;
  align-items: center;
}

.dice-2 {
  display: flex;
  place-content: center space-around ;
  align-items: center;
}

.dice-3 {
  display: grid;
  padding: 6px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  place-content: center;
  place-items: center;
}

.dice-3 div:nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
}

.dice-3 div:nth-child(3) {
  grid-area: 3 / 3 / 4 / 4;
}
